<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/home.css">
    <script src="https://kit.fontawesome.com/82fb7d07d4.js" crossorigin="anonymous"></script>
    <title><%=title%></title>
</head>
<body>
    <div id="contact-display">
        <h1>My  Contacts</h1>
        <p>Total Contacts : <%=contact_list.length %></p>
        <ol>
            <% for(let i of contact_list){ %>
                <li>
                    <div id="<%= i.phone %>" class="number-display">
                        <p><%= i.name %></p>
                        <p><%= i.phone %></p>
                    </div>
                    <a href="/delete-number/<%= i.phone %>"> <i id="delete" class="fa-solid fa-trash-can"></i></a>
                    
                </li>
                
            <% } %>
        </ol>
        <form action="/add-contact" method="post">
            <input type="text" name="name" placeholder="Name" required>
            <input type="number" name="phone" placeholder="Phone number" required><br/>
            <button type="submit">Add-Contact</button>
        </form>
    </div>
    
    <script src="/script/home.js"></script>
</body>
</html>